body{
  background-color: lightgray;


}


table {
            
            margin-left: auto;
            margin-right: auto;
            backdrop-filter: blur(11px) saturate(180%);
            -webkit-backdrop-filter: blur(11px) saturate(180%);
         background-color: rgba(5,143,242, 0.75);
         border-radius: 10px;
         border: 1px solid rgba(209, 213, 219, 0.18);
        }
        
        input[type="button"] {
            width: 100%;
            padding: 20px 20px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            
        }

         input[type="button"]:hover{
          background-color: lightblue;
         } 
        
        input[type="text"] {
            padding: 20px 240px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            border: 2px solid black;
            text-align: left;
        }
        
        #display {
            text-align: center;
            border: transparent;
        }

@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

svg {
  font-family: "Rubik Bubbles", sans-serif;
  width: 100%; height: 50%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #3993FF;
  font-size: 88px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,204,0); stroke: rgba(57,147,255,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,204,0); stroke: rgba(57,147,255,1); }
  80%  {fill: rgba(72,138,204,0); stroke: rgba(57,147,255,1); stroke-width: 3; }
  100% {
    fill: rgba(72,138,204,1); stroke: rgba(57,147,255,0);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}


