body{
   background: url(https://64.media.tumblr.com/7a25c44fc57cc61172615aa919fc3fee/71b8104d93005ed2-c3/s400x600/2fd98c1ec06a3634d2d736421f416cb8d8fffd26.gifv) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: 0;
}

table {
           margin-top: 200px;
           margin-left: auto;
            margin-right: auto;
            
        }
        
        input[type="button"] {
            width: 100%;
            padding: 20px 20px;
            color: white;
            font-size: 24px;
            font-weight: thin;
            background: rgba( 240, 240, 240, 0.20 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 0.5px transparent;
            
        }

         input[type="button"]:hover{
          background-color: transparent;
         } 
        
        input[type="text"] {
            color: white; 
            padding: 20px 240px;
            font-size: 22px;
            font-weight: thin;
            border: none;
            border-radius: 3px;
            border: 2px solid black;
            text-align: center;
        }
        
        #display {
            text-align: center;
            border-radius: 10px;
            border: transparent;
            background: rgba( 240, 240, 240, 0.20 );
            backdrop-filter: blur( 1px );
            -webkit-backdrop-filter: blur( 1px );
            margin-bottom:5px;
        }



