*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "jersey sharp";
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px;
  transition: all 0.4s ease;
  z-index: 1;
}
nav.sticky{
  padding: 15px 20px;
  background: transparent;
  position: fixed;
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: white;
}
nav.sticky .logo a{
  color: white;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #448ee4;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #448ee4;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #24242b;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.kong {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: -2;
}
.kong:hover #wrap {
  -webkit-animation: none;
          animation: none;
}
.kong *{
  transform-style: preserve-3d;
}
.kong #wrap {
  width: 500px;
  height: 500px;
  position: relative;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotateX(var(--mouse-y)) rotateY(var(--mouse-x));
  min-width: 500px;
}
@-webkit-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}
.kong #wrap .head, .kong #wrap .leg1, .kong #wrap .leg2, .kong #wrap .arms1 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.kong #wrap .head .face, .kong #wrap .leg1 .face, .kong #wrap .leg2 .face,.kong #wrap .arms1 .face {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1);
}
.kong #wrap .head:before, .kong #wrap .head:after, .kong #wrap .leg1:before, .kong #wrap .leg1:after, .kong #wrap .leg2:before, .kong #wrap .leg2:after, .kong #wrap .arms1:before, .kong #wrap .arms1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0% 73%, 14% 55%, 19% 56%, 33% 44%, 51% 66%, 46% 74%, 30% 74%, 15% 93%, 0% 94%);
          clip-path: polygon(0% 73%, 14% 55%, 19% 56%, 33% 44%, 51% 66%, 46% 74%, 30% 74%, 15% 93%, 0% 94%);
  transform: translateZ(-75px);
}
.kong #wrap .head:after, .kong #wrap .leg1:after, .kong #wrap .leg2:after, .kong #wrap .arms1:after {
  transform: translateZ(75px);
}
.kong #wrap .leg1 .face {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  position: absolute;
}
.kong #wrap .leg1 .face:first-of-type {
  width: 144.5px;
  height: 107.5px;
  transform-origin: bottom;
  transform: rotateY(90deg) rotateX(1deg) translateZ(-70px);
  bottom: 32px;
}
.kong #wrap .leg1 .face:nth-of-type(2) {
  width: 144.5px;
  height: 110px;
  transform-origin: bottom;
  transform: rotateY(90deg) rotateX(-38deg) translateZ(-87px);
  bottom: 84px;
}
.kong #wrap .leg1 .face:nth-of-type(3) {
  width: 145px;
  height: 90px;
  transform-origin: bottom;
  transform: rotateY(90deg) rotateX(-48.5deg) translateZ(35px);
  bottom: 244px;
}
.kong #wrap .arms1 .face {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  position: absolute;
}
.kong #wrap .arms1 .face:first-of-type {
  transform-origin: 0% 100%;
  width: 65px;
  height: 335px;
  right: -36px;
  top: 55px;
  transform: translateZ(-36px) rotateY(90deg) rotateX(38.95deg);
}
.kong #wrap .arms1 .face:nth-of-type(2) {
  transform-origin: 0% 100%;
  width: 65px;
  height: 335px;
  right: -36px;
  top: 55px;
  transform: translateZ(101px) rotateY(90deg) rotateX(38.95deg);
}
.kong #wrap .arms1 .face:nth-of-type(3) {
  transform-origin: 0% 100%;
  width: 65px;
  height: 80.5px;
  right: -20px;
  bottom: 31px;
  transform: translateZ(101px) rotateY(90deg) rotateX(-10deg);
}
.kong #wrap .arms1 .face:nth-of-type(4) {
  transform-origin: 0% 100%;
  width: 65px;
  height: 80.5px;
  right: -20px;
  bottom: 31px;
  transform: translateZ(-36px) rotateY(90deg) rotateX(-10deg);
}
.kong #wrap .arms1 .face:nth-of-type(5), .kong #wrap .arms1 .face:nth-of-type(6) {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  -webkit-clip-path: polygon(44% 26%, 52% 26%, 94% 78%, 91% 94%, 73% 94%, 74% 90%, 35% 41%);
  clip-path: polygon(44% 26%, 52% 26%, 94% 78%, 91% 94%, 73% 94%, 74% 90%, 35% 41%);
  transform: translateZ(-37px);
}
.kong #wrap .arms1 .face:nth-of-type(6) {
  transform: translateZ(37px);
}
.kong #wrap .arms1 .face:nth-of-type(7) {
  transform-origin: 0% 100%;
  width: 55px;
  height: 175px;
  right: 80px;
  top: 90px;
  transform: translateZ(30px) rotateY(90deg) rotateX(38.95deg);
}
.kong #wrap .arms1 .face:nth-of-type(8) {
  transform-origin: 0% 100%;
  width: 55px;
  height: 100px;
  right: 131px;
  top: 251.25px;
  transform: translateZ(30px) rotateY(90deg) rotateX(-30deg);
}
.kong #wrap .arms1 .face:nth-of-type(9) {
  transform-origin: 0% 100%;
  width: 60px;
  height: 40px;
  right: 221px;
  top: 91px;
  transform: translateZ(99px) rotateY(90deg) rotateX(-90deg);
}
.kong #wrap .arms1 .face:nth-of-type(10) {
  transform-origin: 0% 100%;
  width: 60px;
  height: 40px;
  right: 221px;
  top: 91px;
  transform: translateZ(-39px) rotateY(90deg) rotateX(-90deg);
}
.kong #wrap .arms1:before, .kong #wrap .arms1:after {
  -webkit-clip-path: polygon(44% 26%, 52% 26%, 94% 78%, 91% 94%, 73% 94%, 74% 90%, 35% 41%);
  clip-path: polygon(44% 26%, 52% 26%, 94% 78%, 91% 94%, 73% 94%, 74% 90%, 35% 41%);
  transform: translateZ(-100px);
}
.kong #wrap .arms1:after {
  transform: translateZ(100px);
}
.kong #wrap .head .face {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  position: absolute;
}
.kong #wrap .head .face:first-of-type {
  width: 80px;
  height: 125px;
  top: -20px;
  right: 25px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(50deg);
}
.kong #wrap .head .face:nth-of-type(2) {
  width: 80px;
  height: 21px;
  top: 101.5px;
  right: 36px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(-30deg);
}
.kong #wrap .head .face:nth-of-type(3) {
  width: 80px;
  height: 28px;
  top: 119px;
  right: 20px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(30deg);
}
.kong #wrap .head .face:nth-of-type(4) {
  width: 80px;
  height: 24px;
  top: 147px;
  right: 20px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(0deg);
}
.kong #wrap .head .face:nth-of-type(5) {
  width: 80px;
  height: 60px;
  top: 149px;
  right: 68px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(-51deg);
}
.kong #wrap .head .face:nth-of-type(6) {
  width: 80px;
  height: 125px;
  top: 83px;
  right: 72px;
  transform-origin: 0% 100%;
  transform: translateZ(40px) rotateY(90deg) rotateX(38.5deg);
}
.kong #wrap .head:before, .kong #wrap .head:after {
  -webkit-clip-path: polygon(60% 5%, 79% 21%, 77% 24%, 80% 29%, 80% 34%, 70% 42%, 54% 22%, 45% 22%, 49% 14%);
  clip-path: polygon(60% 5%, 79% 21%, 77% 24%, 80% 29%, 80% 34%, 70% 42%, 54% 22%, 45% 22%, 49% 14%);
  transform: translateZ(-40px);
}
.kong #wrap .head:after {
  transform: translateZ(40px);
}
.kong #wrap .leg2:before, .kong #wrap .leg2:after {
  -webkit-clip-path: polygon(31% 76%, 29% 80%, 34% 88%, 34% 92%, 56% 92%, 57% 89%, 48% 76%);
  clip-path: polygon(31% 76%, 28% 80%, 34% 88%, 34% 92%, 56% 92%, 57% 89%, 48% 76%);
}
.kong #wrap .leg2:after {
  transform: translateZ(0px);
}
.box-1{
width: 50%;
height: 150px;
border-radius: 16px;
margin-left: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
border: 1px solid rgba(255, 255, 255, 0.31);
}

svg {
  font-family: "Ropa Sans", sans-serif;
  width: 100%; height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 3;
  stroke: #FFFFFF;
  font-size: 50px;
}
@keyframes stroke {
  0%   {
    fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1); }
  80%  {fill: rgba(255,255,255,0); stroke: rgba(255,255,255,1); stroke-width: 3; }
  100% {
    fill: rgba(255,255,255,1); stroke: rgba(255,255,255,0);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}

.wrapper {
  background-color: transparent;
}
